.git
.github
.pytest_cache
.ruff_cache
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd

backend/.venv
backend/.pytest_cache
backend/instance/db
backend/instance/media_storage
backend/OpsAtlas_backend.egg-info

client/.dart_tool
client/build
client/.flutter-plugins
client/.flutter-plugins-dependencies

.env
opsatlas-source.zip

LICENSES
